body {
    font-family: 'Roboto', sans-serif;
}

h1, h5, label {
    text-align: center;
}

h1 {
    color: darkorange;
}
h5 {
    font-weight: normal;
}
.block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin: 30px auto 70px;
    flex-basis: 5%;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    height: 30px;
    border-radius: 8px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    font-family: 'Russo One';
}

a {
    font-size: 10px;
}